@model VroomCarInsurance.Models.Applicant
@{
    ViewBag.Title = "Create";
}



<div class="row no-gutters m-3">
    <div class="card col-sm-8 col-md-10 col-lg-10 mx-auto shadow">
        <div class="card-header text-center">
            <h3 class="m-0">Vroom Car Insurance</h3>
            <h5 class="m-0">Monthly Quote Application Form</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row no-gutters container-fluid">
                    <div class="form-group col-lg">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row no-gutters container-fluid mb-3">
                    <div class="form-inline col-lg mb-3">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-inline col-lg mb-3">
                        <label for="DateOfBirth" class="col-form-label mr-3">Date of Birth:</label>

                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row no-gutters container-fluid mb-3">
                    <div class="form-inline mb-3">
                        <label for="CarYear" class="col-form-label mr-3">Year of Car:</label>

                        @Html.EditorFor(model => model.CarYear, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CarYear, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-inline mb-3">
                        <label for="CarMake" class="col-form-label ml-3 mr-3">Make of Car:</label>
                        <select name="CarMake" id="CarMake" class="form-control">
                            <option>Suzuki</option>
                            <option>Porsche</option>
                            <option>Subaru</option>
                            <option>Honda</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.CarMake, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-inline mb-3">
                        <label for="CarModel" class="col-form-label ml-3 mr-3">Model of Car:</label>
                        <select name="CarModel" id="CarModel" class="form-control">
                            <optgroup label="Suzuki">
                                <option>Cappuccino</option>
                            </optgroup>
                            <optgroup label="Porsche">
                                <option>911 Carrera</option>
                                <option>Macan</option>
                                <option>Cayenne</option>
                            </optgroup>
                            <optgroup label="Subaru">
                                <option>Outback</option>
                                <option>WRX</option>
                                <option>Crosstrek</option>
                            </optgroup>
                            <optgroup label="Honda">
                                <option>Civic</option>
                                <option>Odyssey</option>
                            </optgroup>
                        </select>
                        @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row no-gutters container-fluid mb-3">
                    <div class="form-inline mb-3">
                        <label for="DUI" class="col-form-label ml-3 mr-3">DUI:</label>

                            <div class="checkbox">
                                @Html.EditorFor(model => model.DUI)
                            </div>

</div>

                    <div class="form-inline mb-3">
                        <label for="SpeedingTickets" class="col-form-label ml-3 mr-3">Speeding Tickets:</label>
                            
                                @Html.EditorFor(model => model.SpeedingTickets, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SpeedingTickets, "", new { @class = "text-danger" })
                            
</div>

                    <div class="form-inline mb-3">
                        <label for="CoverageType" class="col-form-label ml-3 mr-3">Coverage Type:</label>
                       
                            <select name="CoverageType" id="CoverageType" class="form-control">
                                <option>Full Coverage</option>
                                <option>Liability</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.CoverageType, "", new { @class = "text-danger" })
                        
                    </div>
                </div>

                    <div align="center">
                        <input type="submit" value="Create" class="btn btn-dark btn-block justify-content-center">
                    </div>



            }
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
